{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    練習問題１
{% endblock %}

{% block content %}

<p>あなたは<b>買い手</b>で、中古品を買いたい価格（購入希望価格）を提示します。そして、提示した購入希望価格以下であれば、何個でも中古品を購入するとします。<br></p>
<ul>
    <li>いま、中古品市場には12名の売り手がいるとします。</li>
    <li>買い手はあなたひとりだけです。</li>
    <li>12名の内手のうち、6名は状態の良い中古品を所有し、残りの6名は状態の悪い中古品を所有しています。</li>
</ul>
買い手であるあなたの利得を最大化にするためには、提示する購入希望価格をいくらにすればよいか次のカッコを埋めて考えてみましょう。<br><br>
<ul>
    <li>ケース１：提示する購入希望価格を1601にしたときのあなたの利得
    <br>
    (3500 - [あ]) × [い] + (500 - 1601) × 6 = 11394 - 6606 = 4788
    </li>
    <br>
    <li>ケース２：提示する購入希望価格を1にしたときのあなたの利得
    <br>
    (3500 - 1) × [う] + (500 - 1) × 6 = 0 + 2994 = 2994
    </li>
</ul>

{% formfields %}

    {% next_button %}

    {{ include C.INSTRUCTIONS1_TEMPLATE }}

{% endblock %}

