{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    練習問題1
{% endblock %}

{% block content %}

<p>あなたは<b>買い手</b>で、中古品を買いたい価格（購入希望価格）を提示します。<br>
利得の計算のため、提示した価格内の中古品はすべて購入すると考えてください。<br>
合計12名の売り手がいる中古品市場を考えてください。<br>
6名は状態の良い中古品を所有し、
残り6名は状態の悪い中古品を所有しています。<br>
売り手は、１よりも高い利得を得ることができるのであれば、あなたに中古品を売却するとします。<br>
つまり
状態のよい中古品の売り手は、価格が {{ C.VALUE_GOOD_SELLER }} ECUより高ければ、あなたに売却します。<br>
状態の悪い中古品の買い手は、価格が{{ C.VALUE_BAD_SELLER }}ECUより高ければ、あなたに売却します。<br>
あなたの利得は（{{C.VALUE_GOOD_BUYER}} – 購入価格）x 購入した状態の良い中古品の数＋({{C.VALUE_BAD_BUYER}} – 購入価格）x 購入した状態の悪い中古品の数です。<br>
利得を最大にするためには、提示する購入希望価格をいくらにすればよいですか？<br>
穴埋めで考えてみましょう。<br>
（3500）- {% player.q1 %} ×

{% formfields %}


    {% next_button %}
{% endblock %}

