{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    質問8
{% endblock %}

{% block content %}
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px; width:65%">
<p>元手が100あります。<br>
A:投資する：15%の確率で200に、85%の確率で150になる<br>
B:投資しない：100をそのままもつ<br></p>
</div>
<br>
<p> この時、あなたは、A,Bのどちらをえらびますか？{% formfield player.e_individual_choice %}</p>
<p> その選択をした理由はなぜですか{% formfield player.individual_choice_e_comment %}</p>

{% next_button %}

{% endblock %}
