{{ block title }}
実験
{{ endblock }}
{{ block content }}

<font color="red"><b>質問1と2に回答したあと、</b></font>下記のテーブル(<u>左があなたのポイント</u>、右が相手のポイントを表しています)からあなたの意思決定である<font color="red"><b>選択肢A、選択肢Bのいずれか押して回答</b>してください。</font></p>


【質問1】あなたの相手はAとBのどちらを選ぶと思いますか？{% formfield player.think_other_player_choice %}<br>
【質問2】なぜあなたはその選択肢を選び相手はその選択を選ぶと思ったのか、理由を教えてください。<br>{% formfield player.individual_choice_comment %}</p>

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">あなたの相手</th>
            </tr>
            <tr>
                <th>A</th>
                <th>B</th>
            </tr>
            <tr>
                <th rowspan="2"><span>あなた</span></th>
                <td><button name="individual_choice" value="A" class="btn btn-primary btn-large">A</button></td>
                <td><u>{{C.PAYOFF_B}}</u>, {{C.PAYOFF_B}}</td>
                <td><u>{{C.PAYOFF_D}}</u>, {{C.PAYOFF_A}}</td>
            </tr>
            <tr>
                <td><button name="individual_choice" value="B" class="btn btn-primary btn-large">B</button></td>
                <td><u>{{C.PAYOFF_A}}</u>, {{ C.PAYOFF_D }}</td>
                <td><u>{{C.PAYOFF_C}}</u>, {{C.PAYOFF_C}}</td>
            </tr>
        </table>
    </div>

{{ endblock }}
