{{ block title }}
    実験：あなたはプレイヤー1（先手）になりました。
{{ endblock }}
{{ block content }}
    <p>あなたは、プレイヤー２より先に、[{{ C.CHOICE_LABEL_1 }}], [{{ C.CHOICE_LABEL_2 }}]のどちらに出店するかという戦略をとることができます。</p>
    <p>あなたが[{{ C.CHOICE_LABEL_1 }}]を選び、相手も[{{ C.CHOICE_LABEL_1 }}]を選ぶと、あなたも相手も{{ C.PAYOFF_B }}です。</p>
    <p>あなたが[{{ C.CHOICE_LABEL_1 }}]を選び、相手は[{{ C.CHOICE_LABEL_2 }}]を選ぶと、あなたは{{ C.PAYOFF_D }}、あなたの相手は{{ C.PAYOFF_A }}です。</p>
    <p>あなたが[{{ C.CHOICE_LABEL_2 }}]を選び、相手は[{{ C.CHOICE_LABEL_1 }}]を選ぶと、あなたは{{ C.PAYOFF_A }}、あなたの相手は{{ C.PAYOFF_D }}です。</p>
    <p>あなたが[{{ C.CHOICE_LABEL_2 }}]を選び、相手も[{{ C.CHOICE_LABEL_2 }}]を選ぶと、あなたも相手も{{ C.PAYOFF_C }}です。</p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>プレイヤー2</th>
        </tr>
        <tr>
            <th>{{ C.CHOICE_LABEL_1 }}</th>
            <th>{{ C.CHOICE_LABEL_2 }}</th>
        </tr>
        <tr>
            <th rowspan=2><span style="transform: rotate(-90deg);"><u>プレイヤー1（あなた）</u></span></th>
            <th>{{ C.CHOICE_LABEL_1 }}</th>
            <td><u>{{ C.PAYOFF_B }}</u>, {{ C.PAYOFF_B }}</td>
            <td><u>{{ C.PAYOFF_D }}</u>, {{ C.PAYOFF_A }}</td>
        </tr>
        <tr>
            <th>{{ C.CHOICE_LABEL_2 }}</th>
            <td><u>{{ C.PAYOFF_A }}</u>, {{ C.PAYOFF_D }}</td>
            <td><u>{{ C.PAYOFF_C }}</u>, {{ C.PAYOFF_C }}</td>
        </tr>
    </table>
    <br>
    <p>※入力がなければ、コンピュータによりランダムに決定されます。</p>

【質問1】あなたは [{{ C.CHOICE_LABEL_1 }}]または[{{ C.CHOICE_LABEL_2 }}]のどちらに出店しますか。
<br>{% formfield group.p1_decision %}</p>
【質問2】その選択をした理由を教えてください。
<br>{% formfield group.p1_individual_choice_comment %}</p>

    {{ next_button }}

{{ endblock }}
