{% extends "ch8_comparative_advantage2_instruction/Page.html" %}
{% load otree static %}

{% block title %}
    市場取引
{% endblock %}

{% block content %}

<div>
    市場では、パン1個に対する注文を出します。
    <ul>
        <li>買い注文: パン1個を買うために最大払ってもよいチーズの数 (買値)</li>
        <li>売り注文: パン1個を売るために最低受け取りたいチーズの数 (売値)</li>
        <li>買値も売値も0.1以上、10以下で小数点以下一桁までの値段を出すことができます。</li>
    </ul>
</div>

<p>買値 >= 売値となった時点で、先に市場に出ていた注文の価格で取引が成立します。</p>

<div>
    取引時間{{ Constants.timeout_question2_min }}分で、連続ダブルオークション方式で行います。
    <ul>
        <li>注文は何度でも出すことができます。</li>
        <li>手持ちのパンとチーズの量が許す限り何度でも取引できます。</li>
        <li>一度、注文が成立すると、自分の出していた他の注文は 自動的にキャンセルされますが、新たに注文を出すことができます。</li>
    </ul>
</div>

    {% next_button %}
{% endblock %}
