{% extends "ch8_comparative_advantage2_instruction/Page.html" %}
{% load otree static %}

{% block title %}
    実験2
{% endblock %}

{% block content %}

<div>
    先ほどと同じように、全ての人がチーズサンドを食べる世界を考えましょう。
    <ul>
        <li>チーズサンドを1個作るには、チーズ1個とパン1個が必要です。</li>
    </ul>
</div>

<div>
    先ほどと違って、同じタイプの人同士で自由な取引が可能な世界を考えましょう。
    <ul>
        <li>Aタイプの人は、他のAタイプの人と取引ができます。</li>
        <li>Bタイプの人は、他のBタイプの人と取引ができます。</li>
        <li>違うタイプの人とは取引ができません。</li>
    </ul>
</div>

<p>あなたのスキルタイプが画面に表示されます。</p>
<p>まずは、それぞれチーズとパンの生産量を決めます。</p>
<p>生産終了後、同じタイプの人が市場に集って、手持ちのチーズとパンを交換することができます。</p>

    {% next_button %}
{% endblock %}
